scikit-learn==1.5.1
pandas==2.2.2
matplotlib==3.9.1
python-dotenv==1.0.1
pydot==3.0.1
jupyterlab
keras-tuner==1.4.7
jupyter==1.0.0
boto3==1.34.149
langchain==0.2.11
langchain-community==0.2.10
langchain-aws==0.1.12
openai==1.37.1